
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;600&display=swap');

  $primary-color: #EEE7CE;
  $primary-hover-color: #bbbbbb;
  $sec-color: #064439;



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.root {
    height: 100%;
    position: relative;
}
body {
    // this is the built in Bootstrap variable to adjust the body's bg color
    // doesn't work with SASS variables for some reason, so I used hex code
    --bs-body-bg: #EEE7CE;
    // background-color: #FFF0EB;
}


// header styles ------------------------------------------------

header {
    // background-color: #006868;
    background-color: $sec-color;
    min-height: 18vh;
    width: 100vw;
    // color: #FFFCF6;
    color: $primary-color;


    .navbar-brand {
        width: 100%;
        // text-align: center;
        font-size: 4rem;
        font-weight: 600;
        text-decoration: none;
        color: inherit;
        // margin-left: 1rem;
        color: $primary-color;

        &:hover{
            color: $primary-color;
            text-shadow: #57989afc 2px 2px 3px;
        }
    }

    .navbar {
       .nav-link {
            color: $primary-color;
            
            &:hover {
                color: $primary-hover-color;
            }
        }
    }

}


// form styles ------------------------------------------------

textarea {
    resize: none;
    width: 100%;
}


// footer styles ----------------------------------------------------------------

footer {
    width: 100vw;
    min-height: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    background-color: #274546d6;
    color: $primary-color;
    position: absolute;
    bottom: 0;
     div {
        display: flex;
        justify-content: center;
        align-items: center;
     }
    .github-section {
        display: flex;
        gap: 10px;

        a {
            text-decoration: underline;
            color: inherit;
        }
    }

}