
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;600&display=swap');

  $primary-color: #EEE7CE;
  $sec-color: #064439;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.root {
    height: 100vh;

    position: relative;
}

body, html {
    background-color: $primary-color;
    // overflow: hidden;
    // background-color: #FFF0EB;
}


// header styles ------------------------------------------------
.header {
    // background-color: #006868;
    background-color: $sec-color;
    min-height: 18vh;
   
    width: 100vw;
    // color: #FFFCF6;
    color: #EEE7CE;
    margin-bottom: 1rem;

    #title {
        width: 100%;
        text-align: center;
        font-size: 4rem;
        font-weight: 600;
        text-decoration: none;
        color: inherit;
        margin-left: 1rem;
    }
    #title:hover {
        text-shadow: #57989afc 2px 2px 3px;
    }

    .nav-bar {
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: #27454688;
        border-bottom: .1px solid black;
        a {
            width: auto;
            font-size: 1.4rem;
            padding: 10px;
            text-decoration: none;
            color: inherit;
        }
        a:hover{
            background-color: #3f71736f;
        }

    }

}


// form styles ------------------------------------------------

textarea {
    resize: none;
    width: 100%;
}


// footer styles ----------------------------------------------------------------

footer {
    width: 100vw;
    min-height: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    background-color: #274546d6;
    color: $primary-color;
    position: absolute;
    bottom: 0;
   
     div {
        display: flex;
        justify-content: center;
        align-items: center;
     }
    .github-section {
        display: flex;
        gap: 10px;

        a {
            text-decoration: underline;
            color: inherit;
        }
    }

}

// home page styles ----------------------------------------------------------------

.items-container {
    width: 90vw;
    max-height: 70vh;
    overflow-x: scroll;
    // border:1px solid black;
    margin: 2rem auto;


 ::-webkit-scrollbar {
    width: 5px;    
  }
 ::-webkit-scrollbar-track {
    background: transparent;
  }
 ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
 ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

    .item {
        background: linear-gradient(90deg, rgba(243, 243, 243, 0) 1%, #88d0c35e 50%, rgba(255, 254, 254, 0.02) 100%);
        width: 90%;
        margin: 1rem auto;

        ul {
            list-style:none;
        }
        
        ul li a{
            text-decoration: none;
            
        }
    }
    .item:hover {
        transform: translateX(-10px);
        
        }

 }


 /* width */
::-webkit-scrollbar {
    width: 5px;    
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }