
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;600&display=swap');

  $primary-color: #EEE7CE;
  $primary-hover-color: #bbbbbb;
  $sec-color: #064439;
  $show-black: rgb(77, 77, 77);



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.root {
    height: 100vh;

    position: relative;
}
body {
    // this is the built in Bootstrap variable to adjust the body's bg color
    // doesn't work with SASS variables for some reason, so I used hex code
    --bs-body-bg: #EEE7CE;
    // background-color: #FFF0EB;
}


// header styles ------------------------------------------------

header {
    // background-color: #006868;
    background-color: $sec-color;
    // min-height: 18vh;
   
    width: 100vw;
    // color: #FFFCF6;
    color: $primary-color;

    .container-fluid {
        margin: 0 3rem;
    }


    .navbar-brand {
        width: 100%;
        font-size: 4rem;
        font-weight: 600;
        text-decoration: none;
        color: inherit;
        // margin-left: 1rem;
        color: $primary-color;

        &:hover{
            color: $primary-color;
            text-shadow: #57989afc 2px 2px 3px;
        }
    }

    .navbar {
       .nav-link {
            color: $primary-color;
            font-size: 1.2rem;
            margin: 1.5rem;
            
            &:hover {
                color: $primary-hover-color;
            }
        }
    }

}


// form styles ------------------------------------------------

textarea {
    resize: none;
    width: 100%;
}


// footer styles ----------------------------------------------------------------

footer {
    width: 100vw;
    min-height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    background-color: #274546d6;
    color: $primary-color;
    position: absolute;
    bottom: 0;
   
     div {
        display: flex;
        justify-content: center;
        align-items: center;
     }
    .github-section {
        display: flex;
        gap: 10px;

        a {
            text-decoration: underline;
            color: inherit;
        }

    }
    .by-section {
        display: flex;
        justify-content: space-evenly;
        .name-links {
            margin: .5rem 1rem;
               display: flex;
               flex-direction: column;
    
            a {
                text-decoration: none;
                color: $primary-color;
            }
            a:hover{
                color: white;;
            }
        }
    }


}




// home page styles ----------------------------------------------------------------

.items-container {
    width: 90vw;
    max-height: 60vh;
    overflow-y: scroll;
    overflow-x: hidden;
    // border:1px solid black;
    margin: 2rem auto;


 ::-webkit-scrollbar {
    width: 5px;    
  }
 ::-webkit-scrollbar-track {
    background: transparent;
  }
 ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
 ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

    .item {
        background: linear-gradient(90deg, rgba(243, 243, 243, 0) 1%, #88d0c35e 50%, #88d0c3aa 90%);
        width: 90%;
        margin: .5rem auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 2rem 5px 2rem ;
        transition-duration:  0.2s;
        position: relative;
        
        #timer {
            color: rgb(255, 255, 255);
            font-size: 1.3rem;
            font-weight: 400;
            margin-right: 5rem;
        }
        #expired-timer {
            color: green;
            margin-right: 5rem;
          }

        ul {
            list-style:none;
            max-width: 60%;

            li a{
                text-decoration: none;
                color: #333;
                font-weight: 600;
                font-size: 1.2rem;
              
            }
            li a:hover {
                color: rgb(71, 163, 161);
            }
            #fade {
                color: rgba(59, 59, 59, 0.476);
                font-size: .9rem;
            }
        }
        #edit-link {
            
            position: absolute;
            right: 2%;
            bottom: 25%;
            transition-duration:  .8s;
             
            button {
                width: 100%;
                background-color: inherit;
                border: none;
                cursor: pointer;
                font-size: inherit;
                color: #728985;
                padding: 2px 6px;
            }
            button:hover {
                border: 1px solid #728985;
                padding: -2px 6px;
                border-radius: 5px;
            }
          
        }
    }
    .item:hover {
        transform: translateX(-10px);
        
        }

 }


 /* width */
::-webkit-scrollbar {
    width: 5px;    
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  // show page styles -------------------------------------------------------------
  .event-timer {
    display: flex;
    gap: .5rem;
    font-size: 2rem;
    font-weight: 600;
    width: fit-content;
    margin: 2rem auto;
    #timer {color:rgb(61, 157, 160);}
     #expired-timer {color: green;}
  }
 
    .event {
        background: linear-gradient(90deg, rgba(243, 243, 243, 0) 1%, #88d0c35e 50%, #88d0c3aa 90%);
       max-width: 80%;
       margin: 2rem auto 1rem auto;
       padding: 2rem;
       line-height: 2.5rem;
       h1 {
        text-align: center;
        color: rgb(67, 154, 152);
       }
       h3 a{
        text-decoration: none;
        color: $show-black;
       }
       h3 {
        color:$show-black;
       }

       .description-section {
            background-color: #064439a6;
            padding: 1rem;
            max-height: 230px;
            overflow-y: scroll;
            line-height: 2rem;
            color: $primary-color;
            
       }
    }

.show-buttons {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-bottom: 1rem ;
         input[type="submit"] {
            padding: 5px 10px;
            font-size: inherit;
            background-color: #e1ecf4;
            border-radius: 3px;
            border: 1px solid #7aa7c7;
            color: #39739d;
            cursor: pointer;
            font-weight: 600;
            &:hover {
                background-color: #a5c8e1;
            }
        }
        a button {
            padding: 5px 10px;
            font-size: inherit;
            background-color: #e1ecf4;
            border-radius: 3px;
            border: 1px solid #7aa7c7;
            color: #39739d;
            cursor: pointer;
            font-weight: 600;
            &:hover {
                background-color: #a5c8e1;
            }
        }
}

// create page styles -------------------------------------------------------------

.create-form {
    max-width: 70%;
    margin: 2rem auto;
    background-color: #064439c9;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 15px;

    #submitB {
        max-width: fit-content;
        padding: 5px 10px;
        font-size: inherit;
        background-color: #e1ecf4;
        border-radius: 3px;
        border: 1px solid #7aa7c7;
        color: #39739d;
        cursor: pointer;
        font-weight: 600;
        &:hover {
            background-color: #a5c8e1;
        }
    }
    input {
        // max-width: fit-content;
        border: 1px solid white;
        padding: 5px 10px;
        background-color: inherit;
        color: white;
        font-size: 1rem;
        font-weight: 100;
        width: 400px;

        &::placeholder {
            color: rgb(155, 138, 138);
            
        }
    }
    textarea {
        border: 1px solid white;
        padding: 5px 10px;
        background-color: inherit; 
        color: white;
        font-size: 1.1rem;
        font-weight: 100;
 
    }

    .first-row {
        display: flex;
        gap: 1rem;
        align-items: center;
    }
}

// edit page style ----------------------------------------------------------------

.update-container {
       text-align: center;
       position: relative;
    form {
        max-width: 70%;
        margin: 1rem auto;
        background-color: #064439c9;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border-radius: 15px;
        input {
            // max-width: fit-content;
            border: 1px solid white;
            padding: 5px 10px;
            background-color: inherit;
            color: white;
            font-size: 1rem;
            font-weight: 100;
            width: 400px;
    
            &::placeholder {
                color: rgb(155, 138, 138);
                
            }
        }
        textarea {
            border: 1px solid white;
            padding: 5px 10px;
            background-color: inherit; 
            color: white;
            font-size: 1.1rem;
            font-weight: 100;
            height: 150px;
     
        }
    }



    button, input[type="submit"]  {
        max-width: fit-content;
        padding: 5px 10px;
        font-size: inherit;
        background-color: #e1ecf4;
        border-radius: 3px;
        border: 1px solid #7aa7c7;
        color: #39739d;
        cursor: pointer;
        font-weight: 600;
        &:hover {
            background-color: #a5c8e1;
        }
    }
    button {
        position: absolute;
        left: 1%;
    }
}

// about page style ---------------------------------------------------------------

.about-container {
    max-width: 70%;
    margin: 1rem auto;
    // text-align: center;
    line-height: 1.9rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    h3, h4, p {
        text-align: center;
    }
    .name-links {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 1rem;
        a{
            text-decoration: none;
            color:rgb(61, 157, 160);
            font-size: 1.3rem;
            
        }
        a:hover {
            color: rgb(0, 0, 0);
        }
    }
}

  // media queries ----------------------------------------------------------------



  @media (max-width: 992px) {
    .items-container {
        width: 100vw;
        font-size: .8rem;
        gap: .1rem;
        a {
            font-size: inherit;
        }
        .item {
            
           ul {
           max-width: 70%;
           li a{
                font-size: 1rem;
            }}
            #timer {
            margin: 0;
            font-size: 1rem;
        }
        #expired-timer {
            margin: 0;
            font-size: 1rem;
        }
        }
 
        #edit-link {
            display: none;
        }
    }
    .header {
        display: flex;
        flex-direction: column;
        align-content: center;
        .nav-bar a{
            font-size: 1.2rem;
        }

    header {
        .container-fluid {
            margin: 0 0 1rem 0;
            text-align: center;

            .navbar-brand {
                margin: auto;
            }
        }

        #title {
            font-size: 1rem;
        }

        .navbar-toggler {
            margin: auto;
        }
   }

   footer {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    font-size: .8rem;

    bottom: 0;
    div {
        margin-top: .2rem;
    }
    .by-section {
        display: none;
    }

   }

   .event-timer {
    font-size: 1.2rem;
    
   }
   .event {
    margin: 0px auto 2px auto;
    padding: 0px auto;
     max-width: 100%;
     min-height: 55vh;
    h1, h3 {
        font-size: 1rem;
    }
   }

   .about-container {
     max-width: 90% ;
     max-height: 65vh;
     overflow-y: scroll;
   }

   .create-form {
    max-width: 96%;
    margin: 1rem auto;
    max-height: 65vh;
    gap: .1rem;
    input {
        max-width: 90%;
    }

    .first-row  {
        flex-direction: column;
    }

   }
   .update-container {
        font-size: 1rem;
        margin-top: 4rem;
        button {
            top: -8%;
        }
    form {
        max-width: 95%;
        input {
            max-width: 100%;
            
        }
        textarea {
            font-size: 1rem;
            max-height: 200px;
        }

   }

        div {
            margin-top: .2rem;
        }
   }

  }
  }  